*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: cursive;
    font-size: 16px;
    background-color: #000000;
    color: #fef5f5;
    line-height: 1.6;
    padding: 20px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
h2{
    /* color: transparent; */
    font-size: 60px;
}
h2 span {
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0% {
         color: #fff;
         filter: blur(2px) hue-rotate(0deg);
         text-shadow: 0 0 10px  rgb(0, 255, 26),
            0 0 20px rgb(8, 243, 4),
            0 0 40px rgb(8, 243, 4),
            0 0 80px rgb(8, 243, 4),
            0 0 120px rgb(8, 243, 4),
            0 0 200px rgb(8, 243, 4),
            0 0 300px rgb(8, 243, 4),
            0 0 400px rgb(8, 243, 4);
    }
    30%,70%{  
        color: #f4eded;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px  rgb(9, 44, 239),
           0 0 20px rgb(21, 0, 255),
           0 0 40px rgb(3, 73, 223),
           0 0 80px rgb(20, 5, 230),
           0 0 120px rgb(4, 44, 247),
           0 0 200px rgb(56, 4, 243);
          
   }
    100% {
       color: transparent;
    box-shadow: none;
    filter: blur(2px) hue-rotate(0deg);
    }
}